
table,tr,td{
  border:2px solid #000;
  border-collapse:collapse;
  margin:3px;
}
.main{
  display:flex;
  flex-wrap:wrap;
}
.left{
  text-align:justify;
  border:2px solid #000;
  margin:2px;
  flex:1;
  background-color:#dda0dd;
  color:#000;
  padding:3px;
}
.right{
  text-align:justify;
  border:2px solid #000;
  margin:3px;
  flex:2;
  background-color:#ffe4e1;
}
.left img{
  border-radius: 50px;
  border:5px solid #c454;
}

/*media quieries(1024,1280,768,480)
1280-1024:desktop
1024-768:tablet(landscape and portrait)
768-480:mobile(landscape and portrait)
480    :mobile (or) smaller device*/
/*@media screen and(min-width:425px){
  table,tr,td{
    border:2px solid #000;
    border-collapse:collapse;
    margin:3px;
  }
  .main{
    display:flex;
    flex-wrap:wrap;
  }
  .left{
    text-align:justify;
    border:2px solid #000;
    margin:2px;
    flex:1;
    background-color:#dda0dd;
    color:#000;
    padding:3px;
  }
  .right{
    text-align:justify;
    border:2px solid #000;
    margin:3px;
    flex:2;
    background-color:#ffe4e1;
  }
  .left img{
    border-radius: 50px;
    border:5px solid #c454;
  }
  #name{
    color: green;
  }

  }
}*/
@media only screen and (min-width:1024px) and (max-width:1280px){
  .main{
    display:flex;
    width: 100%;
    flex-direction: row;
  }
  .left{
    width:25%;
    background-color: #ddd;
  }
  .right{
    width:75%;
    background-color:#5436;
  }
  }
  @media only screen and (min-width:768px) and (max-width:1024px){
    .main{
      display:flex;
      width: 100%;
      flex-direction: row;
    }
    .left{
      width:25%;
      background-color: #aaa;
    }
    .right{
      width:75%;
      background-color:#0fff;
    }
  }
  @media only screen and (min-width:480px) and (max-width:768px){
    .main{
      display:flex;
      width: 100%;
      flex-direction: row;
    }
    .left{
      width:25%;
      background-color: #cceeff;
    }
    .right{
      width:75%;
      background-color:pink;
    }
  }
  @media only screen and (max-width:480px){
    .main{
      display:flex;
      width: 100%;
      flex-direction: row;
    }
    .left{
      width:25%;
      background-color: #fff;
    }
    .right{
      width:75%;
      background-color:yellow;
    }
  }
